html,
body {
  min-height: 100%;
}
body {
  background-image: url(new-bafeus.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*
@media (max-width: 450px) {
  body {
    background-image: url(new-bafeus.avif);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .eng {
    display: flex;
  }
  .army-eng {
    position: relative;
    margin: 2px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
  }
  img {
    height: 50px;
    width: 50px;
  }
  svg {
    height: 50px;
    width: 50px;
  }

  #cav {
    border-radius: 50%;
  }
  .fre {
    display: flex;
  }
  .first-army-fre {
    left: 600px;
    top: 400px;
  }
  .second-army-fre {
    border-radius: 50%;
    left: 50px;
    top: 100px;
  }
  .a-army-fre {
    left: 50px;
    top: 100px;
  }

  .b-army-fre {
    left: 50px;
    top: 100px;
  }
  .c-army-fre {
    left: 50px;
    top: 100px;
  }
  .d-army-fre {
    border-radius: 50%;
    left: 50px;
    top: 100px;
  }
  .b-eng {
    left: 250px;
    top: 300px;
  }
  .c-eng {
    left: 200px;
    top: 400px;
  }
  .d-eng {
    left: 150px;
    top: 500px;
  }
  .a-alan {
    border-radius: 50%;
    left: 150px;
    top: 500px;
  }
  .b-alan {
    border-radius: 50%;
    left: 100px;
    top: 400px;
  }
  .army-fre {
    position: relative;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 2px;
  }
}
*/
